/* Main Page Content ---------------------------------------------------------- */

body * {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

#about,
#projects,
#skills,
#contact {
    width: 70%;
    padding: 25px 0;
    margin: 0 auto;
}

a:hover {
    color: #285943;
    font-weight: 500;
}

h1, h2 {
    font-family: 'Bebas Neue', cursive;
    color: #285943;
}

h2 {
    font-size: 2rem;
    padding-bottom: 15px;
}

p {
    line-height: 2rem;
}

hr {
    margin: 0;
}

/* Header ---------------------------------------------------------- */

#banner {
    display: flex;
    padding-bottom: 25px;
}

.banner-left,
.banner-center,
.banner-right {
    width: 33%
}

.banner-left,
.banner-right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 15px;
}

.banner-center {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 4rem;
    height: 100px;
}

.banner-right ul {
    display: flex;

}

.banner-right ul li {
    padding-left: 10px;
    padding-right: 10px;
}

/* About ---------------------------------------------------------- */

#about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#about p {
    padding-top: 15px;
}

.about-text {
    width: 50%;
    font-size: 1.25rem;
}

.profile-image {
    height: 383px;
    width: 383px;
    background-image: url("../images/profile.photo.jpg");
    background-position: center;
    background-size:cover;
    border-radius: 50%;
    box-shadow: 5px 5px 15px #285943;
}

/* Projects ---------------------------------------------------------- */

#projects a {
    font-size: 1.25rem;
    padding-top: 20px;
    font-weight: 300;
}

.project-entry a {
    transition: all .2s ease-in-out;
}

.project-entry a:hover {
    color: #285943;
    transform: scale(1.2);
    transform-origin: left;
}

#projects a,
#contact p {
    font-weight: 500;
}

.project-entry {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Skills ---------------------------------------------------------- */

#skills img {
    transition: all .2s ease-in-out;
    width: 50px;
    height: auto;
    padding: 15px 15px;
    position: sticky;
}

#skills img:hover {
    width: 55px;
    height: auto;
    padding: 10px 10px;
    transform: scale(1.5);
    transform-origin: center;
}

/* Contact ---------------------------------------------------------- */

#contact {
    width: 100%;
    background-color: #F8F32B;
}

.contact-container {
    width: 70%;
    margin: auto;
}

#contact img {
    width: 50px;
    height: auto;
    padding-top: 15px;
}

/* Responsive Design Media Queries ---------------------------------------------------------- */

@media screen and (max-width: 1024px) {

#banner {
    display: block;
    padding-bottom: 25px;
    border-bottom: 5px solid #285943;
}

.banner-center,
.banner-right {
    width: 100%;
    margin: auto;
}

.banner-left {
    display: none;
}

.about-text {
    width: 100%;
    margin: auto;
}

.profile-image {
    display: none;
}

#projects {
    margin: auto;
}

.contact-container {
        margin: auto;
}
}